os: linux
dist: bionic
language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.5"
  - "3.6"
before_install:
  - export MINICONDA=$HOME/miniconda
  - export PATH="$MINICONDA/bin:$PATH"
  - hash -r
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  #- if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
   #   wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    #else
     # wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    #fi
  #- bash miniconda.sh -b -p $MINICONDA
  #- source "$HOME/miniconda/etc/profile.d/conda.sh"
  #- conda config --set always_yes yes --set changeps1 no
  #- conda update -q conda
  # Useful for debugging any issues with conda
  #- conda info -a
install:
  # Install software via conda
  - source ./install_dependencies.sh
script:
  - source ./tests/test_software.sh
